<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/about.css">
    <title>Document</title>
</head>
<body>


  <h1>About Kristen</h1>
  
  <img src="/images/k4.jpg" />
  <div class="about-text">Why did I choose her to be one of my most influential people I look up to? For starters, she forced me.Also it is 
    her bithday soon and she really is an inpiring human being- it's true. 
    Not only is she a very active feminist,making sure to educate others about inequality women face, she is also an advocate for positive mental health and raises awareness 
    for Asian American minorities like just herself. Kristen loves helping others and has dedicated a part of her time helping her community by cultivating 
    an edible garden , wrapping presents for donations for children's charity and participated in a trap and neuter program, rescuing over a dozen 
    community felines while succesfully raising and fostering 4 of them on her own.
</div>
<div class="about-text">Besides life skills, Kristen has many other abilities with her talent ranging from athleticism, 
    arts & crafts, and singing and dancing. She has an entrepreneurial and independent spirit which is 
sure to take her wherever she chooses to go. One of Kristen's main passion is creating and in creating and there are 
too many to name, I have compiled some of her recent work which you will see in the Work's page.

</body>
</html>