<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Document</title>
</head>
<body class="body">
    
    <div class="welcome-text-container">
    <h1 class="welcome-text">Welcome to Kristen's Page!</h1>
    <p>This page is dedicated to Kristen to remind her of what an awesome person she is.</p>
    <br>
    <div>Kristen hails for San Jose California and was born on Jan 2006. She is currently living in Portland, Oregon and 
        attends highschool at kfjro2ee.. She has two siblings who she loves and cares for very much even though
        she acts like she hates them. She is turning 17 soon and despite her age, she has gained a lot
        of life skills from  her past experiences and is continuing to work and improve on herself.
        <br>
        On her spare time, she loves to game and bake and cook. Her all-time favorite are Korean food, 
        Charlie Puth and Kakashi. She loves cats and owns three, Neji, Hinata and Tsundade. She is currently 
        working part-time at her very first job and is set to drive soon.
       
    
    <img src="/images/kris14.jpg" />
    </div>
</body>
</html>